.NavItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    box-sizing: border-box;
}

.NavItem a {
    color: black;
    height: 100%;
    padding: 1px 10px;
    font-size:120%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: rgb(95, 89, 83);
    color: white;
}

@media (max-width: 770px) {
    .NavItem {
        margin: 20px 0;
        height: 100%;
        width: auto;
        align-items: center;
        box-sizing: border-box;
        font-size: 100%;
        display: flex;
        flex-flow: column;
    }
    
    .NavItem a {
        color: black;
        height: 100%;
        padding: 1px 10px;
        font-size:120%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        color: white;
        background-color: none;
    }  
}